---
layout: default
---
<div class="no_toc_section">
    <h1 id="{% t courses.{{ page.id | split: '/' | last }} %}" class="title page-title page-heading">
        {% t courses.{{ page.id | split: '/' | last }} %}
    </h1>
</div>
{% if page.site %}
<a href="{{ page.site }}" class="course-website-link" target="_blank">
    <i class="fa fa-external-link" aria-hidden="true"></i>
    {% t course.website %}
</a>
<br>
{% endif %}

{% if page.lecturers %}
<div class="list people">
    {% assign lecturers = page.lecturers | split: "," %}
    {% for lecturer in lecturers %}
    {% include person-card.html id=lecturer %}
    {% endfor %}
</div>
{% endif %}

{{ content }}
