---
layout: default
---
{% assign person_id = page.id | split: "/" | last %}
<div class="profile-header">
    <div class="profile-avatar">
        <img width="300" height="auto" src="{{ site.baseurl_root }}/images/people/{{ page.avatar | default: 'default.jpg' }}" alt="{% t people.{{ person_id }} %}">
    </div>
    <div class="profile-info">
        <div class="no_toc_section profile-name">
            <h1 id="{% t people.{{ person_id }} %}" class="title page-title">{% t people.{{ person_id }} %}</h1>
        </div>
        {% assign profile_links = site.data.profile_links | where_exp: "l", "page[l.key]" %}
        {% if profile_links.size > 0 %}
        <div class="profile-links">
            {% for link in profile_links %}
            {% assign value = page[link.key] %}
            <div class="profile-link-item">
                <i class="{{ link.icon }}" aria-hidden="true"></i>
                {% case link.key %}
                {% when 'site' %}<a href="{{ value }}" target="_blank">{% t profile.website %}</a>
                {% when 'mail' %}<a href="#" onclick="copyEmailToClipboard(event, '{{ value }}')">{{ value }}</a>
                {% when 'telegram' %}<a href="https://t.me/{{ value }}" target="_blank">@{{ value }}</a>
                {% else %}<a href="{{ value }}" target="_blank">{{ link.label }}</a>
                {% endcase %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{{ content }}

{% assign taught = site.course | where_exp: "c", "c.lecturers contains person_id" %}
{% if taught.size > 0 %}
<hr>
<h3>{% t profile.teaches %}</h3>
<div class="profile-courses-list">
    {% for course in taught %}
    <a href="{{ site.baseurl }}{{ course.url }}" class="profile-course-item">
        {% t courses.{{ course.id | split: '/' | last }} %}
    </a>
    {% endfor %}
</div>
{% endif %}
